
<div fxLayout="row" style="margin-bottom:10px;">
  <button mat-raised-button type="submit" color="primary" (click)="planValidationVisit()" accesskey="V"
  aria-label="plan a validation with visit">Plan a Validation with Visit</button>
  <div fxFlex="2"></div>
  <button mat-raised-button type="submit" color="primary" (click)="planValidationNoVisit()" accesskey="N"
  aria-label="plan a validation with no visit">Plan a Validation with No Visit</button>
</div>

<div name="validationSummaryDiv" id="validationSummaryDiv">
  <table mat-table title="validationSummaryRecords" id="validationSummaryTable" [dataSource]="dataSourceValidationSummary" name="validationSummaryTable" class="row mat-elevation-z0">

    <ng-container matColumnDef="validationType">
      <th mat-header-cell *matHeaderCellDef scope="col">Validation Type</th>
      <td mat-cell *matCellDef="let row"><a (click)="showValidationDetails(row.entryId, row.withVisit)">{{row.validationType}}</a></td>
    </ng-container>

    <ng-container matColumnDef="validationStatus">
      <th mat-header-cell *matHeaderCellDef scope="col">Validation Status</th>
      <td mat-cell *matCellDef="let row"> 
          <span *ngIf="row.validationStatus != 'Initiated' ">
            {{row.validationStatus}}
        </span>
        <span *ngIf="row.validationStatus === 'Initiated' ">
          <a (click)="showSiteValidationVisit(row.entryId)">{{row.validationStatus}}</a> 
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="validationInitiatedDate">
      <th mat-header-cell *matHeaderCellDef scope="col">Validation Initiated Date</th>
      <td mat-cell *matCellDef="let row">{{row.validationInitiatedDate}}</td>
    </ng-container>

    <ng-container matColumnDef="closeOutDate">
      <th mat-header-cell *matHeaderCellDef scope="col">Close-out Date</th>
      <td mat-cell *matCellDef="let row">{{row.closeOutDate}}</td>
    </ng-container>

    <ng-container matColumnDef="reportStatus">
      <th mat-header-cell *matHeaderCellDef scope="col">Report Status</th>
      <td mat-cell *matCellDef="let row">{{row.reportStatus}}</td>
    </ng-container>

    <ng-container matColumnDef="sentToPartner">
      <th mat-header-cell *matHeaderCellDef scope="col">Sent to Partner</th>
      <td mat-cell *matCellDef="let row">{{row.sentToPartner}}</td>
    </ng-container>

    <ng-container matColumnDef="responseStatus">
      <th mat-header-cell *matHeaderCellDef scope="col">Response Status</th>
      <td mat-cell *matCellDef="let row">{{row.responseStatus}}</td>
    </ng-container>

    <ng-container matColumnDef="responseAcceptedDate">
      <th mat-header-cell *matHeaderCellDef scope="col">Response Accepted Date</th>
      <td mat-cell *matCellDef="let row">{{row.responseAcceptedDate}}</td>
    </ng-container>

    <ng-container matColumnDef="responseSummary">
      <th mat-header-cell *matHeaderCellDef scope="col">Response Summary</th>
      <td mat-cell *matCellDef="let row">{{row.responseSummary}}</td>
    </ng-container>

    <ng-container matColumnDef="validationReport">
      <th mat-header-cell *matHeaderCellDef scope="col">Validation Report</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.validationReport!=='N/A'">
          <mat-icon class="enabled-button" (click)="eventFunction(row.entryId)">cloud_download</mat-icon>&nbsp;
          <mat-icon class="enabled-button" (click)="eventFunction(row.entryId)">cloud_upload</mat-icon>&nbsp;
        </span>
        {{row.validationReport}}</td>
    </ng-container>

    <ng-container matColumnDef="executiveSummary">
      <th mat-header-cell *matHeaderCellDef scope="col">Executive Summary</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.executiveSummary!=='N/A'">
          <a (click)="eventFunction(row.entryId)">{{row.executiveSummary}}</a><br>
          <mat-icon class="enabled-button" (click)="eventFunction(row.entryId)">cloud_download</mat-icon>&nbsp;
          <mat-icon class="enabled-button" (click)="eventFunction(row.entryId)">cloud_upload</mat-icon>&nbsp;
        </span>
        <span *ngIf="row.executiveSummary==='N/A'">{{row.executiveSummary}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="worksheetSummary">
      <th mat-header-cell *matHeaderCellDef scope="col">Worksheet Summary</th>
      <td mat-cell *matCellDef="let row"><a (click)="eventFunction(row.entryId)">{{row.worksheetSummary}}</a></td>
    </ng-container>

    <ng-container matColumnDef="entryId">
      <th mat-header-cell *matHeaderCellDef scope="col" style="text-align:center">Actions</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">
        <mat-icon class="enabled-button" (click)="confirmDeletion(row.entryId)">delete_forever</mat-icon>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsValidationSummary" name="validationSummaryTableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsValidationSummary"></tr>
  </table>
</div>

<div [ngClass]="{'hideElement' : !showDetails}">
  <div [ngClass]="{'hideElement' : !validationWithVisit}">
    <app-validation-details-with-visit></app-validation-details-with-visit>
  </div>
  <div [ngClass]="{'hideElement' : validationWithVisit}">
    <app-validation-details-no-visit></app-validation-details-no-visit>
  </div>
</div>

