<div name="addressDiv" id="addressDiv">
  <div>
    <button mat-raised-button type="submit" color="primary"
    class="create-btn"  accesskey="C" aria-label="Add New Address" (click)="addEditAddress()">Add New Address</button>
    <table mat-table title="Addresses" id="addressTable" [dataSource]="dataSource" name="addressTable" matSort matSortActive="type"
      matSortDirection="asc" [matSortDisableClear]="true" class="row mat-elevation-z0">

      <ng-container matColumnDef="typeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Type</th>
        <td mat-cell *matCellDef="let row">{{row.typeName}}</td>
      </ng-container>

      <ng-container matColumnDef="street1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Address Line 1</th>
        <td mat-cell *matCellDef="let row">{{row.street1}}</td>
      </ng-container>

      <ng-container matColumnDef="street2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Address Line 2</th>
        <td mat-cell *matCellDef="let row">{{row.street2}}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">City</th>
        <td mat-cell *matCellDef="let row">{{row.city}}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">State</th>
        <td mat-cell *matCellDef="let row">{{row.state}}</td>
      </ng-container>

      <ng-container matColumnDef="postalCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Postal Code</th>
        <td mat-cell *matCellDef="let row">{{row.postalCode}}</td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Country</th>
        <td mat-cell *matCellDef="let row">{{row.country}}</td>
      </ng-container>

      <ng-container matColumnDef="isMailingAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Mail Addr</th>
        <td mat-cell *matCellDef="let row">{{row.isMailingAddress}}</td>
      </ng-container>

      <ng-container matColumnDef="isPrimaryAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Primary</th>
        <td mat-cell *matCellDef="let row">{{row.isPrimaryAddress}} <span *ngIf="row.isPrimaryAddress ==='N'"><a href="javascript:void(0)" style="outline: blue;" (click)="setPrimaryConfirmDialog(row.id)">Set Primary</a></span></td>
      </ng-container>

      <ng-container matColumnDef="entryId">
        <th mat-header-cell *matHeaderCellDef scope="col" style="text-align:center">Action</th>
        <td mat-cell *matCellDef="let row" style="text-align:center">
          <mat-icon *ngIf="row.isPrimaryAddress !=='Y'" (click)="deleteAddress(row.id)">delete_forever</mat-icon>
          <mat-icon (click)="addEditAddress(row)">edit</mat-icon></td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns" name="addressTableHeader"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="dataSource.data.length===0" class="no-results">&mdash; No Address Available &mdash; </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>