table{
  border: 1px solid gray;
}

td {
  padding: 5px !important;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  word-break: normal;
  background-color: white;
  max-height: fit-content !important;
}

tr.mat-header-row, tr.mat-row {
  height: fit-content !important;
}

td:last-child, th:last-child{
  border-right: none;
}

.mat-column-answer {
  flex: 0 0 15% !important;
  width: 15% !important;
}

#eligibilityNotes{
  margin-top: 5px;
  width: 100%;
}

:host ::ng-deep .mat-radio-container{
  height: 15px;
  width: 15px;
}
:host ::ng-deep .mat-radio-outer-circle{
  height: 15px;
  width: 15px;
}
:host ::ng-deep .mat-radio-inner-circle{
  height: 15px;
  width: 15px;
}

