.padHeading{
  margin-top: 5px;
  margin-bottom: 0px;
}

.actionBtn {
  float: right;
  margin-top: 5px;
  z-index: 10;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 24px!important;
  margin: 3px!important;
 }
