<div fxLayout="row" tid="account-info-section">

  <div style="overflow: auto;" class="headerItem25">
    <div class="item">
      <span class="itemHeader1">CTPAT Account #</span>
      <span>{{accountData?.companyName}}</span>
    </div>
    <div class="item">
      <span class="itemHeader1">CTPAT Account Name</span>
      <span>{{accountData?.companyName}}</span>
    </div>
    <div class="item">
      <span class="itemHeader1">Business Type</span>
      <span>{{accountData?.businessType}}</span>
    </div>
  </div>

  <div style="overflow: auto; padding-left: 3px" class="headerItem30">
    <div class="item">
      <span class="itemHeader2">CTPAT Account Status</span>
      <span>{{accountData?.status}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Security Profile Status</span>
      <span>{{accountData?.securityStatus}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Certification Date</span>
      <span>{{accountData?.certificationDate}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Anniversary Date</span>
      <span>{{accountData?.anniversaryDate}}</span>
    </div>
  </div>

  <div style="overflow: auto; padding-left: 3px" class="headerItem45">
    <div class="item">
      <span class="itemHeader2">Assigned CTPAT Office</span>
      <span>{{accountData?.assignedCTPATOffice}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Assigned CTPAT SCSS</span>
      <span>{{accountData?.assignedCTPATSCSS}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">SCSS Email</span>
      <span>{{accountData?.scssEmail}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">SCSS Phone</span>
      <span>{{accountData?.scssPhone}}</span>
    </div>
  </div>
</div>

