<div fxLayout="row" tid="account-info-section">

  <div style="overflow: auto;" class="headerItem25">
    <div class="item">
      <span class="itemHeader1">CTPAT Account #</span>
      <span>12345678</span>
    </div>
    <div class="item">
      <span class="itemHeader1">CTPAT Account Name</span>
      <span>Apple Ltd.</span>
    </div>
    <div class="item">
      <span class="itemHeader1">Business Type</span>
      <span>Importer</span>
    </div>
  </div>

  <div style="overflow: auto; padding-left: 3px" class="headerItem30">
    <div class="item">
      <span class="itemHeader2">CTPAT Account Status</span>
      <span>Applicant</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Security Profile Status</span>
      <span>Incomplete</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Certification Date</span>
      <span>01/02/2018</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Anniversary Date</span>
      <span>01/02/2019</span>
    </div>
  </div>

  <div style="overflow: auto; padding-left: 3px" class="headerItem45">
    <div class="item">
      <span class="itemHeader2">Assigned CTPAT Office</span>
      <span>Buffalo</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Assigned CTPAT SCSS</span>
      <span>John Doe</span>
    </div>
    <div class="item">
      <span class="itemHeader2">SCSS Email</span>
      <span>john.doe@cbp.dhs.gov</span>
    </div>
    <div class="item">
      <span class="itemHeader2">SCSS Phone</span>
      <span>222-333-4444</span>
    </div>
  </div>
</div>

