<div id="outerContainer">
<form [formGroup]="addNewBeiForm" novalidate>

  <div fxLayout="row" id="createHeader">
    <h3 mat-dialog-title class="dialog-header">Add New BEI</h3>
    <div fxFlex></div>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true" style="float: right;"
        aria-label="clear">
        <mat-icon>clear</mat-icon>
    </button>
    <mat-divider class="divider"></mat-divider>
  </div>
  <div id="midContainer">
<mat-dialog-content>
  <div class="required required-text">* Required</div><br>
  <div fxLayout="column">

      <div fxLayout="row">
        <label fxFlex="40" class="label" for="beiType">BEI Type<span class="required"> *</span></label>
        <mat-form-field fxFlex="60" appearance="outline">
          <mat-select formControlName="beiType" id="beiType" placeholder="--- Select ---" aria-label="BEI Type">
              <mat-option>--Select--</mat-option>
              <ng-container>
                <mat-option value="test">test
                </mat-option>
              </ng-container>
          </mat-select>
          <mat-error *ngIf="submitted && f.beiType.errors && f.beiType.errors.required">BEI Type is required</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <label  fxFlex="40" class="label" for="beiValue">BEI Value<span class="required"> *</span></label>
        <mat-form-field fxFlex="60" appearance="outline">
          <input matInput formControlName="beiValue" id="beiValue" aria-label="BEI Value" placeholder="BEI Value">
          <mat-error *ngIf="submitted && f.beiValue.errors && f.beiValue.errors.required">BEI Value is required</mat-error>
        </mat-form-field>
      </div>

  </div>
</mat-dialog-content>
</div>
<div id="footer">
  <mat-divider class="divider"></mat-divider>
  <mat-dialog-actions>
    <button mat-raised-button type="button" class="minorButton" (click)="cancel()" accesskey="I" aria-label="Cancel">Cancel</button>
    <div fxFlex></div>
    <button mat-raised-button type="submit" color="primary" (click)="save()" accesskey="P" aria-label="Save">Save</button>
  </mat-dialog-actions>
</div>
</form>
</div>
