.errorText {
  color: #a00000;
  font-size: 0.8em;
  margin-top: -20px;
  padding-left: 8px;
}

.minorButton {
  background-color: lightgray !important;
}

#createHeader{
  height: 40px;
  background-color: #00416a;
  color: white;
}

#footer{
  width: 100%;
  height: 55px;
  margin-bottom: 0px;
  background-color: lightgrey;
}

.label{
  font-weight: bold;
  margin-top: 6px;
}

mat-dialog-actions{
  background-color: #eee;
}

.required-text{
  float: right !important;
  padding: 5px 5px;
}


#outerContainer{
  position: relative;
  width: 100%;
  height: 100%;
}
#createHeader{
  top: 0px;
  height: 40px;
  background-color: #00416a;
  color: white;
}
#midContainer{
  max-height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 42px;
  bottom: 25px;
}
#footer{
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0px;
  background-color: lightgrey;
}

#beiValueContainer{
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  pointer-events: auto;
  color: rgba(0,0,0,.87);
  font-size: inherit;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  line-height: 1.225em !important;
  display: inline-block;
  position: relative;
  text-align: left;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 60%;
}
#beiValue{
  pointer-events: auto;
  font: inherit;
  background: rgba(0,0,0,0);
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
  margin-top: -0.0625em;
  animation: cdk-text-field-autofill-end 0s 1ms;
  caret-color: #f44336;
}