<div class="panel-spacing">
	<mat-expansion-panel class="ctpat-panel" [expanded]="true" aria-controls="search-panel" id="searchpanel" >
		<mat-expansion-panel-header class="ctpat-panel-heading" collapsedHeight="40px" expandedHeight="40px">
			<mat-panel-title class="ctpat-panel-title" accesskey="S" aria-label="Search">
				<h3 class="padHeading">Search</h3>
			</mat-panel-title>
		</mat-expansion-panel-header>

    <div class="ctpat-panel-body">
			<form [formGroup]="searchForm" autocomplete="off" novalidate>

				<div fxLayout="column">
          <label for="companyName" class="searchByLabel">Company Name</label>
          <mat-form-field appearance="outline" color="outline">
            <input matInput formControlName="companyName" maxlength="30"
                tid="account-name-field" id="companyName" aria-label="Company Name">
					 </mat-form-field>

           <label for="ctpatAccountNumber" class="searchByLabel">CTPAT Account #</label>
           <mat-form-field appearance="outline" color="outline">
             <input matInput formControlName="ctpatAccountNumber" maxlength="30"
                 tid="account-name-field" id="ctpatAccountNumber" aria-label="CTPAT Account #">
            </mat-form-field>

            <label for="beiValue" class="searchByLabel">BEI Value</label>
            <mat-form-field appearance="outline" color="outline">
              <input matInput formControlName="beiValue" maxlength="30"
                  tid="account-name-field" id="beiValue" aria-label="BEI Value">
            </mat-form-field>

           <label for="tradeEmail" class="searchByLabel">Trade Email</label>
           <mat-form-field appearance="outline" color="outline">
              <input matInput formControlName="tradeEmail" maxlength="30"
                  tid="account-name-field" id="tradeEmail" aria-label="Trade Email">
           </mat-form-field>
				</div>

				<div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-raised-button type="submit" color="primary"
          (click)="search()" accesskey="S" aria-label="Search">Search</button>
          <button mat-button type="submit"
          (click)="clear()" accesskey="C" aria-label="Clear">Clear</button>
				</div>
        <div fxLayout="row" fxLayoutAlign="space-between center"><a (click)="openAdvanceSearchModal()" class="advance-search-link m-t-10" aria-label="Advance Search" role="button" tabindex="0">Advanced Search</a></div>
			</form>
		</div>
	</mat-expansion-panel>
</div>
