<div class="panel-spacing">
	<mat-expansion-panel class="ctpat-panel" [expanded]="true" aria-controls="hotlist-panel" id="hotlistpanel" >
		<mat-expansion-panel-header class="ctpat-panel-heading" collapsedHeight="40px" expandedHeight="40px">
			<mat-panel-title class="ctpat-panel-title" accesskey="H" aria-label="hotlist">
				<h3 class="padHeading">Hotlist</h3>
			</mat-panel-title>
		</mat-expansion-panel-header>

    <div class="ctpat-panel-body">
		<br>
    <h4>Hotlist Placeholder Text</h4>
		</div>
	</mat-expansion-panel>
</div>
