table{
  border: 1px solid gray;
}

td {
  padding: 2px 10px !important;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  word-break: normal;
  background-color: white;
  max-height: fit-content !important;
}

th {
  padding: 2px 15px !important;
  border-right: 1px solid gray;
  text-align: center !important;
  background-color: #edf1f5;
  max-height: fit-content !important;
}

tr.mat-header-row, tr.mat-row {
  height: fit-content !important;
}

td:last-child, th:last-child{
  border-right: none;
}

button{
  height: 29px !important;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pdfIcon{
  font-size: 26px;
  color: #aa0000;
}

