<div id="DialogOuterContainer">
  <form [formGroup]="editSiteInfoForm" novalidate>
<div fxLayout="row" id="DialogHeader" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <h3 mat-dialog-title class="dialog-header">Update Site</h3>
  <div fxFlex></div>
                <button mat-icon-button class="close-button" [mat-dialog-close]="true" aria-label="clear">
                    <mat-icon>clear</mat-icon>
                </button>
</div>
<mat-divider class="divider"></mat-divider>

<div id="DialogMidContainer">

    <mat-dialog-content>

      <div fxLayout="row" style="font-weight:500">
        <div fxFlex="10">No-Go Zone</div>
        <div fxFlex="20">No-Go Reason</div>
        <div fxFlex="15">Other Reason</div>
        <div fxFlex="25">GPS Coordinates</div>
        <div fxFlex="30">Address</div>
      </div><br>
      <div fxLayout="row">
        <div fxFlex="3"></div>
        <div fxFlex="5" style="margin-top:10px">
          <mat-checkbox color="primary" formControlName="noGoZoneIndicator" aria-label="No-Go Zone Indicator"
          for="No-Go Zone Indicator"></mat-checkbox>
        </div>
        <div fxFlex="2"></div>
        <div fxFlex="15">
          <mat-form-field appearance="outline">
            <mat-select formControlName="noGoReason" id="noGoReason" aria-label="No-Go Reason" placeholder="--- Select ---">
              <mat-option value="">--- Select ---</mat-option>
              <mat-option value="Budget">Budget</mat-option>
              <mat-option value="COVID">COVID</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="2"></div>
        <div fxFlex="15">
          <mat-form-field appearance="outline">
            <input matInput formControlName="otherReason" id="otherReason" aria-label="Other Reason" placeholder="Other Reason">
          </mat-form-field>
        </div>
        <div fxFlex="2"></div>
        <div fxFlex="15">
          <mat-form-field appearance="outline">
            <input matInput formControlName="gpsCoordinates" id="gpsCoordinates" aria-label="GPS Coordinates" placeholder="GPS Coordinates">
          </mat-form-field>
        </div>
        <div fxFlex="2"></div>
        <div fxFlex="30" fxLayout="column">
          <div fxLayout="row">
            <div class="label" fxFlex="30">Country</div>
            <mat-form-field appearance="outline">
              <mat-select formControlName="country" id="country" aria-label="Country" placeholder="--- Select Country ---"
              (click)="countrySelected($event)" (selectionChange)="countrySelected($event.value)">
                <mat-option value="">--- Select Country ---</mat-option>
                <mat-option value="CA">Canada</mat-option>
                <mat-option value="US">United States</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <div class="label" fxFlex="30">Street</div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="street" id="street" aria-label="Street" placeholder="Street">
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <div class="label" fxFlex="30">City</div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="city" id="city" aria-label="City" placeholder="City">
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <div class="label" fxFlex="30">State</div>
            <mat-form-field appearance="outline">
              <mat-select formControlName="state" id="state" aria-label="State/Province" placeholder="--- Select State ---">
                <mat-option value="">--- Select State ---</mat-option>
                <mat-option value="ON">Ontario</mat-option>
                <mat-option value="VA">Virginia</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <div class="label" fxFlex="30">Postal Code</div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="postalCode" id="postalCode" aria-label="Postal Code" placeholder="Postal Code">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="10"></div>
      </div>

    </mat-dialog-content>
    </div>
   


<div id="DialogFooter">
  <mat-divider class="divider"></mat-divider>
  <mat-dialog-actions>
    <button mat-raised-button  class="minorButton" (click)="onNoClick()" accesskey="C" aria-label="Cancel">Cancel</button>
    <div fxFlex></div>
    <button mat-raised-button type="button"color="primary"  class="minor-button" (click)="update()" accesskey="C" aria-label="Update">Update</button>
  </mat-dialog-actions>
</div>


</form>
</div>