.cancel-button{
  background-color: white !important;
  color: black !important;
}
#header{
  cursor: move;
  height: 40px;
  background-color: #00416a;
  color: white;
}
mat-dialog-actions, #footer{
  background-color: #eee !important;
}
