<div name="milestonesTableDiv" id="milestonesTableDiv">
    <table mat-table title="Milestones" id="milestonesTable" [dataSource]="dataSource" name="milestonesTable"
        class="row mat-elevation-z0" matSort matSortActive="noteType" matSortDirection="desc"
        [matSortDisableClear]="true">

        <ng-container matColumnDef="noteType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Note Type</th>
            <td mat-cell *matCellDef="let row">{{row.noteType}}</td>
        </ng-container>

        <ng-container matColumnDef="noteText">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Milestones/Notes</th>
            <td mat-cell *matCellDef="let row">{{row.noteText}}</td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Created By</th>
            <td mat-cell *matCellDef="let row">{{row.createdBy}}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Created Date</th>
            <td mat-cell *matCellDef="let row">{{row.createdDate | date:'dd-MM-yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef scope="col" style="text-align:center">Action</th>
            <td mat-cell *matCellDef="let row" style="text-align:center">
              <mat-icon (click)="confirmDeletion(row.entryId)">delete_forever</mat-icon>
              <mat-icon (click)="editMileStoneActionEntry(row.entryId)">edit</mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" name="documentsTableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No records</td>
        </tr>

    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
</div>