<button (click)="editCee(ceeId)" mat-raised-button type="button" color="primary" style="margin-bottom:10px;"
aria-label="Edit CEE" accesskey="E">Edit CEE</button>

<div fxLayout="column">
  <div class="item">
    <span class="itemHeader1">Approved Participant of US CBP CEE</span>
    <span>Yes</span>
  </div>
  <div class="item">
    <span class="itemHeader1">CEE</span>
    <span>Base Metals</span>
  </div>
  <div class="item">
    <span class="itemHeader1">What Commodities do you Import</span>
    <span>Base Metals</span>
  </div>
</div>
