<div name="contactDiv" id="contactDiv">
  <div>

      <button mat-raised-button type="submit" color="primary"
        class="create-btn" (click)="addNewUser()" accesskey="C" aria-label="Add New User">Add New User</button>



    <table mat-table title="contact" id="contactTable" [dataSource]="dataSource" name="contactTable" matSort matSortActive="primary"
      matSortDirection="desc" [matSortDisableClear]="true" class="row mat-elevation-z0">

      <ng-container matColumnDef="salutation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Salutation</th>
        <td mat-cell *matCellDef="let row">{{row.salutation}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">First Name</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Last Name</th>
        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Title</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Type</th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Telephone</th>
        <td mat-cell *matCellDef="let row">{{row.telephone}}</td>
      </ng-container>

      <ng-container matColumnDef="primaryIndicator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Primary</th>
        <td mat-cell *matCellDef="let row">{{row.primaryIndicator}} <span *ngIf="row.primaryIndicator ==='N'"><a href="javascript:void(0)" style="outline: blue;" (click)="setPrimaryConfirmDialog(row.entryId)">Set Primary</a></span></td>
      </ng-container>

      <ng-container matColumnDef="lastLogin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Last Login</th>
        <td mat-cell *matCellDef="let row">{{row.lastLogin}}</td>
      </ng-container>
      <ng-container matColumnDef="entryId">
        <th mat-header-cell *matHeaderCellDef scope="col" style="text-align:center">Action</th>
        <td mat-cell *matCellDef="let row" style="text-align:center">
          <mat-icon (click)=deleteUser(row.entryId) *ngIf="row.primaryIndicator ==='N'">delete_forever</mat-icon>
          <mat-icon (click)="editUser(row.email)" id="editUser">edit</mat-icon></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" name="contactTableHeader"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="dataSource.data.length===0" class="no-results">&mdash; No contact Available &mdash; </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>
