<div fxLayout="column">

  <button (click)="addBusinessHistory()" mat-raised-button type="button" color="primary" style="margin-bottom:10px;"
    aria-label="Add Business History" accesskey="N">Add Business History</button>

  <div style="font-size:1.1em">
    Partner Entered Business History
  </div>

  <div id="companyHistory">
    This business history info was entered by trade partner during application. Brief company history text goes here.
    Brief company history text goes here. Brief company history text goes here. Brief company history text goes here.
    Brief company history text goes here. Brief company history text goes here. Brief company history text goes here.
  </div>

</div>
