button{
  height: 26px !important;
  width: fit-content;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

#companyHistory{
  margin-top: 10px;
  border: 1px solid gray;
  width: 100%;
  padding: 2px 2px;
}
