<div id="outerContainer">

    <form [formGroup]="createCompanyContactForm" novalidate>
  
    <div fxLayout="row" id="createHeader">
      <h3 mat-dialog-title class="dialog-header">Add/Edit Contact</h3>
      <div fxFlex></div>
                <button mat-icon-button class="close-button" [mat-dialog-close]="true" style="float: right;"
                    aria-label="clear">
                    <mat-icon>clear</mat-icon>
                </button>
    <mat-divider class="divider"></mat-divider>
    </div>
  
  <div id="midContainer">
    <mat-dialog-content>
        <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="end center">
                <div class="required required-text">* Required</div>
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">First Name<span class="required"> *</span></label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="firstName" id="firstName" aria-label="First Name">
                        <mat-error *ngIf="submitted && f.firstName.errors && f.firstName.errors.required">First Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Last Name<span class="required"> *</span></label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="lastName" id="lastName" aria-label="Last Name">
                        <mat-error *ngIf="submitted && f.lastName.errors && f.lastName.errors.required">Last Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex>
                    <label fxFlex="45" class="label" for="typeNameId">Middle Initial</label>
                    <div fxFlex="5"></div>
                    <div fxFlex>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="middleNameInitial" id="middleNameInitial" aria-label="Middle Initial">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">DOB</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="dateOfBirth" id="dateOfBirth" aria-label="DOB">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Country of Birth</label>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-select formControlName="birthCountryId" id="birthCountryId" placeholder="--- Select ---" aria-label="Country of Birth">       
                        <mat-option value="-1">--Select--</mat-option>
                          <ng-container>
                            <mat-option [value]="refData.id" *ngFor="let refData of countryList$  | async">
                                {{refData.countryName}}
                            </mat-option>
                          </ng-container>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex>
                    <label fxFlex="45" class="label" for="typeNameId">Country of Citizenship</label>
                    <div fxFlex="5"></div>
                    <div fxFlex>
                        <mat-form-field fxFlex appearance="outline">
                            <mat-select formControlName="citizenshipCountryId" id="citizenshipCountryId" placeholder="--- Select ---" aria-label="Country of Citizenship">       
                            <mat-option value="-1">--Select--</mat-option>
                                <ng-container>
                                <mat-option [value]="refData.id" *ngFor="let refData of countryList$  | async">
                                    {{refData.countryName}}
                                </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="65">
                    <label fxFlex="18" class="label" for="typeNameId">Email</label>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex appearance="outline">
                        <input matInput formControlName="email" id="email" aria-label="Email">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex>
                    <label fxFlex="45" class="label" for="typeNameId">Phone</label>
                    <div fxFlex="5"></div>
                    <div fxFlex></div>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput formControlName="telephoneNumber" id="telephoneNumber" aria-label="Phone">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row">
               <hr>
            </div>

            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Passport #</label>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput formControlName="passportNum" id="passportNum" aria-label="Passport">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Passport- Conuntry of Issurance</label>
                    <div fxFlex="5"></div>
                    <div fxFlex></div>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput formControlName="passportIssuanceCountryId" id="passportIssuanceCountryId" aria-label="Passport- Conuntry of Issurance">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">US Visa Type</label>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex appearance="outline">
                        <input matInput formControlName="usVisaType" id="usVisaType" aria-label="US Visa Type">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Visa #</label>
                    <div fxFlex="5"></div>
                    <div fxFlex></div>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput formControlName="usVisaNum" id="usVisaNum" aria-label="Visa">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row">
                <hr>
            </div>

            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Alien Reg #</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="alienRegNum" id="alienRegNum" aria-label="Alien Reg">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Naturalization #</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="naturalizationNum" id="naturalizationNum" aria-label="Naturalization">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex>
                    <label fxFlex="45" class="label" for="typeNameId">LPR #</label>
                    <div fxFlex="5"></div>
                    <div fxFlex>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="lpr" id="lpr" aria-label="LPR">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">DLN</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="dlnNum" id="dlnNum" aria-label="DLN">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">DLN- Country of issuance</label>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-select formControlName="dlnIssuanceCountryId" id="dlnIssuanceCountryId" placeholder="--- Select ---" aria-label="DLN- Country of issuance">       
                        <mat-option value="-1">--Select--</mat-option>
                          <ng-container>
                            <mat-option [value]="refData.id" *ngFor="let refData of countryList$  | async">
                                {{refData.countryName}}
                            </mat-option>
                          </ng-container>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex>
                    <label fxFlex="45" class="label" for="typeNameId">DLN- State of issuance</label>
                    <div fxFlex="5"></div>
                    <div fxFlex>
                        <mat-form-field fxFlex appearance="outline">
                            <mat-select formControlName="dlnIssuanceStId" id="dlnIssuanceStId" placeholder="--- Select ---" aria-label="DLN- State of issuance">       
                            <mat-option value="-1">--Select--</mat-option>
                                <ng-container>
                                <mat-option [value]="refData.id" *ngFor="let refData of countryList$  | async">
                                    {{refData.countryName}}
                                </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Nexus</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="nexus" id="nexus" aria-label="Nexus">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">Centri</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="centri" id="centri" aria-label="Centri">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex>
                    <label fxFlex="45" class="label" for="typeNameId">Global Entry</label>
                    <div fxFlex="5"></div>
                    <div fxFlex>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="globalEntry" id="globalEntry" aria-label="Global Entry">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">SSN</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="ssn" id="ssn" aria-label="SSN">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">SIN</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="sin" id="sin" aria-label="SIN">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">RFC</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="rfc" id="rfc" aria-label="RFC">
                    </mat-form-field>
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="30">
                    <label fxFlex="45" class="label" for="typeNameId">CURP</label>
                    <div fxFlex="5"></div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="curp" id="curp" aria-label="CURP">
                    </mat-form-field>
                </div>
            </div>


    </div>
    </mat-dialog-content>
</div>
  
  <div id="footer">
    <mat-divider class="divider"></mat-divider>
    <mat-dialog-actions>
      <button mat-raised-button type="button" class="minorButton" (click)="cancel()" accesskey="I" aria-label="Cancel">Cancel</button>
      <div fxFlex></div>
      <button mat-raised-button type="submit" color="primary" (click)="save()" aria-label="Save" accesskey="P">Save</button>
    </mat-dialog-actions>
  </div>
  </form>
  </div>
  