<div fxLayout="row" tid="account-info-section">

  <div style="overflow: auto;" class="headerItem25">
    <div class="item">
      <span class="itemHeader1">Company Name</span>
      <span>{{accountData?.companyName}}</span>
    </div>
    <div class="item">
      <span class="itemHeader1">Doing Business As</span>
      <span>{{accountData?.doingBusinessAs}}</span>
    </div>
    <div class="item">
      <span class="itemHeader1">Ownership Type</span>
      <span>{{accountData?.ownershipType}}</span>
    </div>
    <div class="item">
      <span class="itemHeader1">Business Start Date</span>
      <span>{{accountData?.businessStartDate | date:'MM/dd/yyyy'}}</span>
    </div>
  </div>

  <div style="overflow: auto; padding-left: 3px" class="headerItem30">
    <div class="item">
      <span class="itemHeader2">Telephone Number</span>
      <span>{{accountData?.telephoneNumber}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Fax Number</span>
      <span>{{accountData?.faxNumber}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Website</span>
      <span>{{accountData?.webSiteAddress}}</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Number of Employees</span>
      <span>{{accountData?.numberOfEmployees}}</span>
    </div>
  </div>

  <div style="overflow: auto; padding-left: 3px" class="headerItem45">
    <div class="item">
      <span class="itemHeader2">Brief Company History</span>
    </div>
    <div id="companyHistory">
      <span>{{accountData?.briefCompanyHistory}}</span>
    </div>
  </div>
</div>
