<div fxLayout="row" tid="account-info-section">

  <div style="overflow: auto;" class="headerItem25">
    <div class="item">
      <span class="itemHeader1">Company Name</span>
      <span>Apples Ltd.</span>
    </div>
    <div class="item">
      <span class="itemHeader1">Doing Business As</span>
      <span>Fruit Company</span>
    </div>
    <div class="item">
      <span class="itemHeader1">Ownership Type</span>
      <span>Corporation</span>
    </div>
    <div class="item">
      <span class="itemHeader1">Business Start Date</span>
      <span>01/02/2017</span>
    </div>
  </div>

  <div style="overflow: auto; padding-left: 3px" class="headerItem30">
    <div class="item">
      <span class="itemHeader2">Telephone Number</span>
      <span>213-992-0882</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Fax Number</span>
      <span>213-992-8888</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Website</span>
      <span>www.applesltd.com</span>
    </div>
    <div class="item">
      <span class="itemHeader2">Number of Employees</span>
      <span>150</span>
    </div>
  </div>

  <div style="overflow: auto; padding-left: 3px" class="headerItem45">
    <div class="item">
      <span class="itemHeader2">Brief Company History</span>
    </div>
    <div id="companyHistory">
      Brief company history text goes here.
    </div>
  </div>
</div>

