.errorText {
  color: #dd0000;
  font-size: 1em;
  padding-left: 8px;
  margin-top: 10px;
  margin-bottom: -20px;
}
.padHeading{
  margin-top: 5px;
  margin-bottom: 0px;
}

.spinner-container {
  background: #cfc6c6;
  opacity: 0.5;
  height:100%;
  width:100%;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
