.errorText {
  color: #dd0000;
  font-size: 1em;
  padding-left: 8px;
  margin-top: 10px;
  margin-bottom: -20px;
}
.padHeading{
  margin-top: 5px;
  margin-bottom: 0px;
}

.spinner-container {
  background: #cfc6c6;
  opacity: 0.5;
  height:100%;
  width:100%;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.warningText {
  color: #dd0000;
  font-size: 1em;
  padding-left: 8px;
  margin-top: 20px;
  margin-bottom: -40px;
}

table{
  border: 1px solid gray;
}

td {
  padding-left: 5px !important;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  word-break: normal;
  background-color: white;
  max-height: fit-content !important;
}

th {
  border-right: 1px solid gray;
  text-align: center !important;
  background-color: #edf1f5;
  max-height: fit-content !important;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

tr.mat-header-row, tr.mat-row {
  height: fit-content !important;
}
td.mat-header-cell, td.mat-cell {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

td:last-child, th:last-child{
  border-right: none;
}

.mat-column-ctpatAccountId {
  flex: 0 0 8% !important;
  width: 10% !important;
}

.mat-column-companyName {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-doingBusinessAs {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.newLineInData{
  white-space: pre-line;
}


