<div *ngIf="businessTypeId==1&&!hasIata" class="error-text">Please Enter an IATA for Air Carrier</div>
<div *ngIf="businessTypeId==1&&!hasBond" class="error-text">Please Enter a BOND for Air Carrier</div>
<div *ngIf="businessTypeId==3&&!hasMid" class="error-text">Please Enter a MID for Foreign Manufacturer</div>
<div *ngIf="businessTypeId==5&&!hasBond" class="error-text">Please Enter a BOND for Importer</div>
<div *ngIf="businessTypeId==5&&!hasIor" class="error-text">Please Enter an IOR for Importer</div>
<div *ngIf="businessTypeId==6&&!hasBrokerLicenseNumber" class="error-text">Please Enter a Broker License Number for Licensed U.S. Customs Broker</div>
<div *ngIf="businessTypeId==6&&!hasFilerCode" class="error-text">Please Enter a Filer Code for Licensed U.S. Customs Broker</div>
<div *ngIf="businessTypeId==7&&!hasScac" class="error-text">Please Enter a SCAC for Rail Carrier</div>
<div *ngIf="businessTypeId==7&&!hasBond" class="error-text">Please Enter a BOND for Rail Carrier</div>
<div *ngIf="businessTypeId==8&&!hasScac" class="error-text">Please Enter a SCAC for Sea Carrier</div>
<div *ngIf="businessTypeId==8&&!hasBond" class="error-text">Please Enter a BOND for Sea Carrier</div>
<div *ngIf="businessTypeId==9&&!hasFmc&&!hasIata" class="error-text">Please Enter a FMC or IATA number for Consolidator</div>
<div *ngIf="businessTypeId==9&&!hasBond" class="error-text">Please Enter a BOND for Consolidator</div>
<div *ngIf="businessTypeId==15&&!hasSctNumber" class="error-text">Please Enter a SCT Number for Mexican Long Haul Highway Carrier</div>
<div *ngIf="businessTypeId==17&&!hasCbp&&!hasDot&&!hasFmc&&!hasTsa" class="error-text">Please Enter at least one BEI for Third Party Logistics Provider</div>
<div *ngIf="businessTypeId==18&&!hasDuns&&!hasEin" class="error-text">Please Enter a DUNS or EIN number for Exporter</div>
<div *ngIf="(businessTypeId==4||businessTypeId==10||businessTypeId==11)&&!hasScac" class="error-text">Please Enter a SCAC for Highway Carrier</div>
<div *ngIf="(businessTypeId==4||businessTypeId==10||businessTypeId==11)&&!hasDot" class="error-text">Please Enter a DOT for Highway Carrier</div>

<button (click)="addNewBeiRecord()" mat-raised-button type="button" color="primary" style="margin-bottom:10px;"
aria-label="Add New BEI Record" accesskey="N">Add New</button>

<div name="beiRecordsDiv" id="beiRecordsDiv">
  <table mat-table title="BeiRecords" id="beiRecordsTable" [dataSource]="dataSourceBeiRecords" name="beiRecordsTable" class="row mat-elevation-z0">

    <ng-container matColumnDef="beiType">
      <th mat-header-cell *matHeaderCellDef scope="col">BEI TYPE</th>
      <td mat-cell *matCellDef="let row">{{row.beiType}}</td>
    </ng-container>

    <ng-container matColumnDef="beiValue">
      <th mat-header-cell *matHeaderCellDef scope="col">BEI Value</th>
      <td mat-cell *matCellDef="let row">{{row.beiValue}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="tcActiveInd">
      <th mat-header-cell *matHeaderCellDef scope="col">Active Indicator</th>
      <td mat-cell *matCellDef="let row">{{row.tcActiveInd}}</td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="ctpatAccountId">
      <th mat-header-cell *matHeaderCellDef scope="col">CtPat Account ID</th>
      <td mat-cell *matCellDef="let row">{{row.ctpatAccountId}}</td>
    </ng-container> -->

    <ng-container matColumnDef="benefitTxt">
      <th mat-header-cell *matHeaderCellDef scope="col">BEI Benefit</th>
      <td mat-cell *matCellDef="let row">{{row.benefitTxt}}</td>
    </ng-container>

    <ng-container matColumnDef="vettedApproved">
      <th mat-header-cell *matHeaderCellDef scope="col">Vetted Approved</th>
      <td mat-cell *matCellDef="let row">{{row.vettedApproved}}</td>
    </ng-container>

    <ng-container matColumnDef="beiAction">
      <th mat-header-cell *matHeaderCellDef scope="col" style="text-align:center">Action</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">
        <mat-icon (click)="confirmDeletion(row.id)">delete_forever</mat-icon>
        <mat-icon (click)="editBeiRecordEntry(row)">edit</mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsBeiRecords" name="beiRecordsTableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsBeiRecords"></tr>
  </table>
</div>
