.create-ctpat-panel-heading {
  cursor: pointer;
}

.child{
  width:100%;
  text-align: center;
}

.create-btn {
	width: 180px;
  margin: 5px 0px;
}

.padHeading{
  margin-top: 5px;
  margin-bottom: 0px;
}

