.profileWarning{
  font-weight: bold;
  background-color: #FFF1D2;
  padding: 5px 20px;
}

.bigIcon{
  font-size: 26px;
}

a:hover {
  cursor: pointer;
}
a {
  text-decoration: underline;
  color: blue;
}
