<button (click)="addContact()" mat-raised-button type="button" color="primary" style="margin-bottom:10px;"
aria-label="Add Contact" accesskey="C">Add Contact</button>

<div name="companyContactListDiv" id="companyContactListDiv">
  <table mat-table title="CompanyContactList" id="companyContactListTable" [dataSource]="dataSourceCompanyContactList"
  name="companyContactListTable" class="row mat-elevation-z0" multiTemplateDataRows>

    <ng-container matColumnDef="showDocDetail">
      <th mat-header-cell *matHeaderCellDef scope="col"></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="toggleRow(row)" aria-label="Show or Hide arrow">
          <mat-icon>{{row.showDocDetail? "expand_more":"chevron_right"}}</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef scope="col">First Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef scope="col">Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="middleInitial">
      <th mat-header-cell *matHeaderCellDef scope="col">MI</th>
      <td mat-cell *matCellDef="let row">{{row.middleInitial}}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef scope="col">DOB</th>
      <td mat-cell *matCellDef="let row">{{row.dateOfBirth}}</td>
    </ng-container>

    <ng-container matColumnDef="idNumbers">
      <th mat-header-cell *matHeaderCellDef scope="col">SSN / SIN / CURP /RFC</th>
      <td mat-cell *matCellDef="let docRow" class="newLineInData">{{docRow.ssn}}<br/>{{docRow.sin}}<br/>{{docRow.rfc}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef scope="col">Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef scope="col">Phone</th>
      <td mat-cell *matCellDef="let row">{{row.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="entryId">
      <th mat-header-cell *matHeaderCellDef scope="col" style="text-align:center">Action</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">
        <mat-icon (click)="confirmDeletion(row.entryId)">delete_forever</mat-icon>
        <mat-icon (click)="editCompanyContactEntry(row)">edit</mat-icon></td>
    </ng-container>

    <!-- doc info columns as a nested table -->
    <ng-container matColumnDef="expandedDocDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumnsCompanyContactList.length" style="border:0">
        <div id="table-container" [@docDetailExpand]="row.showDocDetail? 'expanded' : 'collapsed'">
          <table id="nestedTable" mat-table [dataSource]="row.docDetail" class="row mat-elevation-z0">
            <ng-container matColumnDef="passportInfo">
              <th mat-header-cell *matHeaderCellDef scope="col">Passport # and Country of Issuance</th>
              <td mat-cell *matCellDef="let docRow">{{docRow.passportNumber}}
                <mat-icon class="countryName" matTooltip={{docRow.passportCountry}} matTooltipClass="customTooltip" matTooltipPosition="right">info</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="countryOfBirth">
              <th mat-header-cell *matHeaderCellDef scope="col">Country of Birth</th>
              <td mat-cell *matCellDef="let docRow">{{docRow.countryOfBirthCd}}
                <mat-icon class="countryName" matTooltip={{docRow.countryOfBirth}} matTooltipClass="customTooltip" matTooltipPosition="right">info</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="countryOfCitizenship">
              <th mat-header-cell *matHeaderCellDef scope="col">Country of Citizenship</th>
              <td mat-cell *matCellDef="let docRow">{{docRow.countryOfCitizenshipCd}}
                <mat-icon class="countryName" matTooltip={{docRow.countryOfCitizenship}} matTooltipClass="customTooltip" matTooltipPosition="right">info</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="visaInfo">
              <th mat-header-cell *matHeaderCellDef scope="col">US Visa Type and Number)</th>
              <td mat-cell *matCellDef="let docRow">{{docRow.visaType + ',' + docRow.visaNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="alienNum">
              <th mat-header-cell *matHeaderCellDef scope="col">Alien Reg #</th>
              <td mat-cell *matCellDef="let docRow">{{docRow.alienNum}}</td>
            </ng-container>

            <ng-container matColumnDef="naturalizationNum">
              <th mat-header-cell *matHeaderCellDef scope="col">Naturalization #</th>
              <td mat-cell *matCellDef="let docRow">{{docRow.naturalizationNum}}</td>
            </ng-container>

            <ng-container matColumnDef="dlnInfo">
              <th mat-header-cell *matHeaderCellDef scope="col">DLN and State of Issuance</th>
              <td mat-cell *matCellDef="let docRow">{{docRow.dlnNumber}}
                <mat-icon class="countryName" matTooltip={{docRow.dlnCountry}} matTooltipClass="customTooltip" matTooltipPosition="right">info</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="lpr">
              <th mat-header-cell *matHeaderCellDef scope="col">LPR</th>
              <td mat-cell *matCellDef="let docRow">{{docRow.lpr}}</td>
            </ng-container>

            <ng-container matColumnDef="nexus">
              <th mat-header-cell *matHeaderCellDef scope="col">NEXUS / CENTRI / Global Entry</th>
              <td mat-cell *matCellDef="let docRow" class="newLineInData">{{docRow.nexus}}<br/>{{docRow.centri}}<br/>{{docRow.globalEntry}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsCompanyDocDetail"></tr>
            <tr mat-row *matRowDef="let docRow; columns: displayedColumnsCompanyDocDetail"></tr>
          </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsCompanyContactList" name="companyContactListTableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsCompanyContactList"></tr>
    <tr mat-row *matRowDef="let docRow; columns: ['expandedDocDetail']"></tr>
  </table>
</div>
