#outerContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#createHeader {
    top: 0px;
    height: 40px;
    background-color: #00416a;
    color: white;
}

#midContainer {
    max-height: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 42px;
    bottom: 25px;
}

#footer {
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0px;
    background-color: lightgrey;
}


.bold-font {
    font-weight: bold;
}

.inline-display {
    display: contents;
}

.grey-section {
    background-color: rgb(222 213 213 / 34%);
}

.hr-line {
    height: 2px;
    background: grey;
}

.bottom-margin {
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
}