<form [formGroup]="intelligenceGatheringForm" novalidate>
  <div fxLayout="column" fxLayoutGap="5px">

    <ng-container *ngFor="let intelligenceQue of intelligenceGatheringQuestionnaire">
      <div class="title">{{intelligenceQue.name}}</div>
      <div fxLayout="row wrap">
        <div fxFlex="33" *ngFor="let que of intelligenceQue.questions">
          <div fxFlex="60">{{que.question}}</div>
          <mat-radio-group [formControlName]="que.formControlName" [ariaLabel]="que.question">
            <mat-radio-button color="primary" value="Y"><span
                style="font-weight: lighter;">Yes&nbsp;&nbsp;&nbsp;</span></mat-radio-button>
            <mat-radio-button color="primary" value="N"><span style="font-weight: lighter;">No</span></mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <ng-container *ngIf="intelligenceQue.freetextquestion.show">
        <div>Mandatory if any of the responses is "Yes"</div>
        <mat-form-field fxFlex appearance="outline" [id]="intelligenceQue.freetextquestion.formControlName">
          <textarea matInput class="response" [formControlName]="intelligenceQue.freetextquestion.formControlName" rows="3"></textarea>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="intelligenceQue.name === 'Portal Queries (Was Derogatory Information Identified? Yes/No)'">
        <div fxLayout="row">
          <div fxFlex="75">Does this company have a previous CTPAT account with derogatory information or action against
            it?
          </div>
          <mat-radio-group formControlName="derogatoryIndicator" aria-label="derogatory information or action against">
            <mat-radio-button color="primary" value="Y"><span
                style="font-weight: lighter;">Yes&nbsp;&nbsp;&nbsp;</span></mat-radio-button>
            <mat-radio-button color="primary" value="N"><span style="font-weight: lighter;">No</span></mat-radio-button>
          </mat-radio-group>
        </div>

        <div fxLayout="row">
          <div fxFlex="15" style="margin-top:5px">Previous Account #</div>
          <mat-form-field fxFlex="25" appearance="outline">
            <input matInput formControlName="prevAccountNum" id="prevAccountNum" aria-label="Previous Account Number">
          </mat-form-field>
          <div fxFlex="5"></div>
          <div fxFlex="20" style="margin-top:5px">Previous Account Name</div>
          <mat-form-field fxFlex="25" appearance="outline">
            <input matInput formControlName="prevAccountName" id="prevAccountName" aria-label="Previous Account Name">
          </mat-form-field>
        </div>

        <div>Previous Account Derogatory Information. Mandatory if any of the responses is "Yes"</div>
        <mat-form-field fxFlex appearance="outline" id="prevDerogatoryInformation">
          <textarea matInput class="response" formControlName="prevDerogatoryInformation" rows="3"></textarea>
        </mat-form-field>
      </ng-container>
      <hr>
    </ng-container>

    <div class="title">Additional Vetting, If Needed or Required by Subject Matter Expert (SME)</div>

    <div fxLayout="row">
      <div fxFlex="30" style="margin-top:5px">Queries Run</div>
      <mat-form-field fxFlex="25" appearance="outline">
        <input matInput formControlName="queriesRun1" id="queriesRun1" aria-label="Queries Run 1">
      </mat-form-field>
      <div fxFlex="5"></div>
      <mat-form-field fxFlex="25" appearance="outline">
        <input matInput formControlName="queriesRun2" id="queriesRun2" aria-label="Queries Run 2">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <div fxFlex="30" style="margin-top:-10px">Name of SME who Conducted Query</div>
      <mat-form-field style="margin-top:-15px" fxFlex="25" appearance="outline">
        <input matInput formControlName="nameSme" id="nameSme" aria-label="Name of SME who Conducted Query1">
      </mat-form-field>
    </div>

  </div>
</form>