<div id="outerContainer">

    <form [formGroup]="addBusinessHistoryForm" novalidate>
  
    <div fxLayout="row" id="createHeader">
      <h3 mat-dialog-title class="dialog-header">Add New Business History</h3>
      <div fxFlex></div>
                <button mat-icon-button class="close-button" [mat-dialog-close]="true" style="float: right;"
                    aria-label="clear">
                    <mat-icon>clear</mat-icon>
                </button>
    <mat-divider class="divider"></mat-divider>
    </div>
  
  <div id="midContainer">
    <mat-dialog-content>
        <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="end center">
                <div class="required required-text">* Required</div>
            </div>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex>
                    <label class="label" for="typeNameId">Business History<span class="required"> *</span></label>
                    <mat-form-field appearance="outline">
                        <textarea matInput formControlName="businessHistory" id="businessHistory" aria-label="Business History"
                        placeholder="" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
                        <mat-error *ngIf="submitted && f.businessHistory.errors && f.businessHistory.errors.required">Business History is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
    </div>
    </mat-dialog-content>
</div>
  
  <div id="footer">
    <mat-divider class="divider"></mat-divider>
    <mat-dialog-actions>
      <button mat-raised-button type="button" class="minorButton" (click)="cancel()" accesskey="I" aria-label="Cancel">Cancel</button>
      <div fxFlex></div>
      <button mat-raised-button type="submit" color="primary" (click)="save()" aria-label="Save" accesskey="P">Save</button>
    </mat-dialog-actions>
  </div>
  </form>
  </div>
  