<app-profile-incomplete-error-message></app-profile-incomplete-error-message>

<mat-accordion multi>
  <mat-expansion-panel class="mat-elevation-z0" #panelA expanded tid="panel-account-info">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon *ngIf=!panelA.expanded>chevron_right</mat-icon>
        <mat-icon *ngIf=panelA.expanded>expand_more</mat-icon>
        CTPAT Account Information
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-account-information></app-account-information>

  </mat-expansion-panel><hr>

  <mat-expansion-panel class="mat-elevation-z0" #panelB expanded tid="panel-business-entity-info">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon *ngIf=!panelB.expanded>chevron_right</mat-icon>
        <mat-icon *ngIf=panelB.expanded>expand_more</mat-icon>
        Business Entity Information
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-business-entity-information></app-business-entity-information>

  </mat-expansion-panel><hr>

  <mat-expansion-panel *ngIf="!hideCeeSection" class="mat-elevation-z0" #panelC expanded tid="panel-center-excellence-expertise">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon *ngIf=!panelC.expanded>chevron_right</mat-icon>
        <mat-icon *ngIf=panelC.expanded>expand_more</mat-icon>
        Center of Excellence and Expertise (CEE)
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-center-excellence-expertise></app-center-excellence-expertise>
    <hr>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="!hideCoSection" class="mat-elevation-z0" #panelD expanded tid="panel-account-info">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon *ngIf=!panelD.expanded>chevron_right</mat-icon>
        <mat-icon *ngIf=panelD.expanded>expand_more</mat-icon>
        Country of Origin (CO). Top Five Countries of Origin by Value
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-country-of-origin></app-country-of-origin>

  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="!hideTransportSection" class="mat-elevation-z0" #panelE expanded tid="panel-modes-transport">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon *ngIf=!panelE.expanded>chevron_right</mat-icon>
        <mat-icon *ngIf=panelE.expanded>expand_more</mat-icon>
        Transportation
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-modes-of-transport></app-modes-of-transport>

  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="!hideHwyCarrierSection" class="mat-elevation-z0" #panelE expanded tid="panel-hwy-carrier">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon *ngIf=!panelE.expanded>chevron_right</mat-icon>
        <mat-icon *ngIf=panelE.expanded>expand_more</mat-icon>
        Border Crossings & Services Information
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-highway-carriers></app-highway-carriers>

  </mat-expansion-panel>

</mat-accordion>




