<div id="outerContainer">
<form [formGroup]="editCeeForm" novalidate>

  <div fxLayout="row" id="header">
    <h3 mat-dialog-title class="dialog-header">Edit CEE</h3>
    <div fxFlex></div>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true" style="float: right;"
        aria-label="clear">
        <mat-icon>clear</mat-icon>
    </button>
    <mat-divider class="divider"></mat-divider>
  </div>

  <div id="midContainer">
    <mat-dialog-content>
      <div class="required required-text">* Required</div><br>
      <div fxLayout="column">

        <div fxLayout="row">
          <label fxFlex="50" class="label" for="approvedIndicator">Approved Participant of US CBP CEE</label>
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-select formControlName="approvedIndicator" id="approvedIndicator" placeholder="--- Select ---" aria-label="Approved Participant of US CBP CEE">
                <mat-option>--Select--</mat-option>
                <ng-container>
                  <mat-option value="Y">Yes</mat-option>
                  <mat-option value="N">No</mat-option>
                </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <label fxFlex="50" class="label" for="cee">CEE<span class="required"> *</span></label>
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-select formControlName="cee" id="cee" placeholder="--Select--" aria-label="CEE">
                <mat-option>--Select--</mat-option>
                <ng-container>
                  <mat-option value="CEE001">CEE001-Something
                  </mat-option>
                </ng-container>
            </mat-select>
            <mat-error *ngIf="submitted && f.cee.errors && f.cee.errors.required">CEE is required</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <label fxFlex="50" class="label" for="commodities">Commodities of Import<span class="required"> *</span></label>
          <div fxFlex="50" fxLayout="column" style="overflow:hidden">
            <div>
              <mat-checkbox color="primary" formControlName="agricultureIndicator" aria-label="Agriculture & Prepared Products"
              for="agriculture indicator"><span style="font-weight: lighter;">Agriculture & Prepared Products</span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="apparelIndicator" aria-label="Apparel, Footwear, and Textiles"
              for="apparel indicator"><span style="font-weight: lighter;">Apparel, Footwear, and Textiles</span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="automotiveIndicator" aria-label="Automotive and Aerospace"
              for="automotive indicator"><span style="font-weight: lighter;">Automotive and Aerospace</span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="metalIndicator" aria-label="Base Metals"
              for="metal indicator"><span style="font-weight: lighter;">Base Metals</span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="consumerProductIndicator" aria-label="Consumer Products & Mass Merchandising "
              for="consumerProduct indicator"><span style="font-weight: lighter;">Consumer Products & Mass Merchandising </span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="electronicsIndicator" aria-label="Electronics"
              for="electronics indicator"><span style="font-weight: lighter;">Electronics</span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="materialsIndicator" aria-label="Industrial & Manufacturing Materials"
              for="materials indicator"><span style="font-weight: lighter;">Industrial & Manufacturing Materials</span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="machineryIndicator" aria-label="Machinery"
              for="machinery indicator"><span style="font-weight: lighter;">Machinery</span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="petroleumIndicator" aria-label="Petroleum, Natural Gas & Minerals"
              for="petroleum indicator"><span style="font-weight: lighter;">Petroleum, Natural Gas & Minerals</span></mat-checkbox>
            </div>
            <div>
              <mat-checkbox color="primary" formControlName="chemicalsIndicator" aria-label="Pharmaceuticals, Health, & Chemicals"
              for="chemicals indicator"><span style="font-weight: lighter;">Pharmaceuticals, Health, & Chemicals</span></mat-checkbox>
            </div>
            <div *ngIf="submitted&&!isAnyCommoditySelected()" class="errorText">
              At least 1 commodity must be selected
            </div>
          </div>

        </div>

      </div>
    </mat-dialog-content>
  </div>

<div id="footer">
  <mat-divider class="divider"></mat-divider>
  <mat-dialog-actions>
    <button mat-raised-button type="button" class="minorButton" (click)="cancel()" accesskey="I" aria-label="Cancel">Cancel</button>
    <div fxFlex></div>
    <button mat-raised-button type="submit" color="primary" (click)="save()" accesskey="P" aria-label="Save">Save</button>
  </mat-dialog-actions>
</div>
</form>
</div>
