<button (click)="addAddress()" mat-raised-button type="button" color="primary" style="margin-bottom:10px;"
aria-label="Add Address" accesskey="D">Add Address</button>

<div name="companyAddressListDiv" id="companyAddressListDiv">
  <table mat-table title="CompanyAddressList" id="companyAddressListTable" [dataSource]="dataSourceCompanyAddressList" name="companyAddressListTable" class="row mat-elevation-z0">

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef scope="col">Type</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="street1">
      <th mat-header-cell *matHeaderCellDef scope="col">Address Line 1</th>
      <td mat-cell *matCellDef="let row">{{row.street1}}</td>
    </ng-container>

    <ng-container matColumnDef="street2">
      <th mat-header-cell *matHeaderCellDef scope="col">Address Line 2</th>
      <td mat-cell *matCellDef="let row">{{row.street2}}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef scope="col">City</th>
      <td mat-cell *matCellDef="let row">{{row.city}}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef scope="col">State</th>
      <td mat-cell *matCellDef="let row">{{row.state}}</td>
    </ng-container>

    <ng-container matColumnDef="postalCode">
      <th mat-header-cell *matHeaderCellDef scope="col">Postal Code</th>
      <td mat-cell *matCellDef="let row">{{row.postalCode}}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef scope="col">Country</th>
      <td mat-cell *matCellDef="let row">{{row.country}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef scope="col" style="text-align:center">Action</th>
      <td mat-cell *matCellDef="let row; let i = index" style="text-align:center">
        <mat-icon (click)="confirmDeletion(i)">delete_forever</mat-icon>
        <mat-icon (click)="editCompanyAddressEntry(row, i)">edit</mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsCompanyAddressList" name="companyAddressListTableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsCompanyAddressList"></tr>
  </table>
</div>