table{
  border: 1px solid gray;
}

td {
  padding-left: 5px !important;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  word-break: normal;
  background-color: white;
  max-height: fit-content !important;
}

th {
  padding: 2px 2px !important;
  border-right: 1px solid gray;
  text-align: center !important;
  align-items: center !important;
  align-content: center !important;
  background-color: #edf1f5;
  max-height: fit-content !important;
}

tr.mat-header-row, tr.mat-row {
  height: fit-content !important;
}

td:last-child, th:last-child{
  border-right: none;
}

button{
  height: 26px !important;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-entryId {
  flex: 0 0 10% !important;
  width: 10% !important;
}
